<script language="javascript" type="text/javascript">
//Side Navigation Brands Logos
    $('<style type="text/css">\
			/* Side Navigation Brands Logos */\
			#SideShopByBrand .treeview li {\
				border-bottom: solid 1px #e4e4e4;\
			}\
			#SideShopByBrand .treeview .navBrandListingImage {\
				display: inline-block;\
				width: 30px;\
				padding: 6px 16px 6px 6px;\
				vertical-align: middle;\
			}\
			#SideShopByBrand .treeview a {\
				display: inline-block;\
				border-bottom: none;\
				vertical-align: middle;\
			}\
			</style>')
        .appendTo('head');
	$(document).ready(function () {
		$.ajax({
			url: "/brands/",
		    type: 'GET',
		    dataType: 'html',
		    success : function(brandPage) {
			    brandImagesListings(brandPage);
			}
		});
	
		var mainPage = $(this);
		var navBrandListings = mainPage.find('.Left .BrandList').first().find('.BlockContent .treeview li:not(.last)');
		var mobileNavBrandListings = mainPage.find('.BrandList').first().find('.BlockContent .treeview li:not(.last)');
		//var classChecker = navBrandListings.parent().attr('class');
		
		//if ( classChecker != 'withBrandImages' ) {}
		function brandImagesListings(brandPage){
			var brandNameImagePairs = [];
			var brandNameImagePair = {};
			var brandPageListings = $(brandPage).find('.SubBrandListGrid');
			brandPageListings.find('li:not(.RowDivider)').each(function() {
			    var brandText = $(this).find('.brand-name').text();
			    var brandUrl = $(this).find('.brand-img img').attr('src');
			    brandNameImagePairs[brandText] = brandUrl;
				return brandNameImagePairs;
			});

			navBrandListings.each(function() {
				var navBrandText = $(this).text();
				var currentBrandListing = $(this).find('a:contains("' + navBrandText + '")');
				var brandImageInsert = '<img class="navBrandListingImage" src="' + brandNameImagePairs[navBrandText] + '" />';
				currentBrandListing.before(brandImageInsert);
			});
			
			mobileNavBrandListings.each(function() {
				var navBrandText = $(this).text();
				var currentBrandListing = $(this).find('a:contains("' + navBrandText + '")');
				var brandImageInsert = '<img class="navBrandListingImage" src="' + brandNameImagePairs[navBrandText] + '" />';
				currentBrandListing.before(brandImageInsert);
			});

			navBrandListings.parent().addClass('withBrandImages');
			mobileNavBrandListings.parent().addClass('withBrandImages');
		}
		//}
	});
</script>
