<script language="javascript" type="text/javascript">
//Side Navigation Brands Logos
    $('<style type="text/css">\
			/* Side Navigation Brands Logos */\
			.Left #SideShopByBrand .treeview li, \
			#DrawerMenu #SideShopByBrand .treeview li {\
				/*border-bottom: solid 1px #e4e4e4;*/\
				margin-bottom: 0;\
			}\
			.Left #SideShopByBrand .treeview li a, \
			#DrawerMenu #SideShopByBrand .treeview li a {\
				display: block;\
				vertical-align: middle;\
				padding: 10px 0;\
			}\
			.Left #SideShopByBrand .treeview li a .navBrandListingImage, \
			#DrawerMenu #SideShopByBrand .treeview li a .navBrandListingImage {\
				display: inline-block;\
				width: 30px;\
				padding: 0 16px 0 6px;\
				vertical-align: middle;\
			}\
			/* Dollar USD */\
			.fa-dollar:before, .fa-usd:before {\
				content: "\\f155";\
			}\
			#SideShopByPrice .treeview li a .fa-usd {\
				display: block;\
				vertical-align: middle;\
				padding: 0 3px 0 0;\
				float: right;\
				font-size: 18px;\
				color: #ffd200;\
				transition: all .13s ease-in-out;\
			}\
			#SideShopByPrice .treeview li:hover a .fa-usd {\
				-webkit-transform: rotate(-10deg);\
				-moz-transform: rotate(-10deg);\
				-o-transform: rotate(-10deg);\
				transform: rotate(-10deg);\
				color: #39b54a;\
				padding: 0 5px 0 0;\
			}\
			</style>')
        .appendTo('head');
	$(document).ready(function () {
		var mainPage = $(this);
		//Add Dollar signs to #SideShopByPrice
		var shopByPriceNavListings = mainPage.find('.Left #SideShopByPrice').first().find('.BlockContent .treeview li a');
		//var mobileshopByPriceNavListings = mainPage.find('.Left #SideShopByPrice').first().find('.BlockContent .treeview li');
		var shopByPriceListingCounter = 0;
		shopByPriceNavListings.each(function() {
			var currentShopByPriceNavListingText = $(this).text();
			var currentShopByPriceNavListingAnchor = $(this);
			var dollarSignInsert = '<span class="fa fa-usd"></span>';
			shopByPriceListingCounter++;
			for(var i = 0; i < shopByPriceListingCounter; i++) {
				currentShopByPriceNavListingAnchor.prepend(dollarSignInsert);
			}
		});
		//Visit All Brands page and retrive HTML
		$.ajax({
			url: "/brands/",
		    type: 'GET',
		    dataType: 'html',
		    success : function(brandPage) {
			    brandImagesListings(brandPage);
			}
		});
		//Use the data passed earlier via AJAX to attach brand images to respective nav brand list items
		var navBrandListings = mainPage.find('.Left .BrandList').first().find('.BlockContent .treeview li:not(.last)');
		var mobileNavBrandListings = mainPage.find('.BrandList').first().find('.BlockContent .treeview li:not(.last)');
		function brandImagesListings(brandPage){
			var brandNameImagePairs = [];
			var brandNameImagePair = {};
			var brandPageListings = $(brandPage).find('.SubBrandListGrid');
			brandPageListings.find('li:not(.RowDivider)').each(function() {
			    var brandText = $(this).find('.brand-name').text();
			    var brandUrl = $(this).find('.brand-img img').attr('src');
			    brandNameImagePairs[brandText] = brandUrl;
				return brandNameImagePairs;
			});
			navBrandListings.each(function() {
				var navBrandText = $(this).text();
				var currentBrandListing = $(this).find('a:contains("' + navBrandText + '")');
				var brandImageInsert = '<img class="navBrandListingImage" src="' + brandNameImagePairs[navBrandText] + '" />';
				currentBrandListing.prepend(brandImageInsert);
			});
			mobileNavBrandListings.each(function() {
				var navBrandText = $(this).text();
				var currentBrandListing = $(this).find('a:contains("' + navBrandText + '")');
				var brandImageInsert = '<img class="navBrandListingImage" src="' + brandNameImagePairs[navBrandText] + '" />';
				currentBrandListing.prepend(brandImageInsert);
			});
			navBrandListings.parent().addClass('withBrandImages');
			mobileNavBrandListings.parent().addClass('withBrandImages');
		}
	});
</script>
